.content {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 0;
  padding-bottom: 0;

  h2 {
    margin-top: 20px;
  }

  .famous-actors {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 30px;
  }

  .card {
    flex: 1 0 5%;
  }
  .card-famous {
    width: 185px;
    color: rgb(53, 53, 53);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    position: relative;
    background-color: white;
    box-shadow: -7px 8px 10px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid rgb(202, 202, 202);
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
    }

    .profile-famous img {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }

    .profile-meta {
      font-size: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .sub {
        display: flex;
        padding-left: 5px;
        font-size: 10px;
      }

      .name {
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
}

.pages {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  button {
    padding: 5px;
    width: 100px;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.4s;
    background-color: white;
    margin: 0px 10px;

    &:hover {
      transform: scale(1.1);
    }
  }
}
