nav {
  background: rgb(15, 16, 19);
  display: flex;
  height: 70px;
  align-items: center;
  position: absolute;
  width: 100%;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;

    a {
      color: rgb(241, 241, 241);
      text-decoration: none;
      padding: 10px;
    }

    .nav-active {
      position: relative;

      &::after {
        content: "";
        height: 4px;
        width: 0;
        background: $color-1;
        position: absolute;
        border-radius: 10px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-animation: anim 0.3s ease forwards;
        animation: anim 0.6s ease forwards;

        @-webkit-keyframes anim {
          to {
            width: 100%;
          }
        }
        @keyframes anim {
          to {
            width: 100%;
          }
        }
      }
    }
  }
}
