header {
  background: #1e3d59;

  a {
    text-decoration: none;
    color: rgb(245, 244, 244);
  }
}
header li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 100;
}

header li {
  display: block;
  padding: 20px;
}

header li a:hover {
  background: rgb(51, 51, 51);
  color: #fff;
}

header li:hover .sub-menu {
  display: block;
  background: rgb(61, 61, 61);
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: aqua;
  width: 200px;
}
