.content-wrapper {
  display: flex;
}
//**********************************************************Search Card Movie

#canvas-movie {
  border: 4px solid black;
  color: azure;
  border-radius: 150px;
  width: 70px;
  font-size: 35px;
  height: 70px;
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.header-movie {
  width: 100%;
  height: 490px;
}

.flex-details {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  color: rgb(241, 241, 241);

  .details-movie {
    margin: 0px 400px;
  }
}
