.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;

  .movie-fav {
    display: flex;
  }
  .movie-info {
    color: white;
  }

  .tv {
    margin-top: 20px;

    h3 {
      color: white;
    }
  }

  .tv-fav {
    display: flex;
  }
}
