.input-form {
  width: 100%;
  margin-top: 70px;

  input {
    display: block;
    margin: 0 auto;
    border-radius: 40px;
    margin-bottom: 20px;
    padding: 5px;
    width: 340px;
  }

  h3 {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    font-size: 30px;
  }
}

.nav-profile {
  margin: 10px 0px 0px 390px;
}

.selector-content {
  margin: 50px;
  margin-left: 150px;
  margin-top: 90px;
  color: rgb(241, 241, 241);

  .selector {
    border: 1px solid black;
    color: rgb(241, 241, 241);
    height: 160px;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(70, 70, 70);

    h4 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-style: italic;
      margin-top: 10px;
    }

    ul {
      margin-top: 20px;
      height: 80px;

      span {
        background-color: gray;
        border-radius: 50px;
        margin-right: 15px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      li {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 20px;
        margin-top: 10px;
        padding-left: 20px;
        cursor: pointer;

        &:hover {
          color: rgb(196, 196, 196);
        }
      }
    }
  }
}
.content-wrapper {
  display: flex;
}
