@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Inter-Medium.ttf);
}
$font-1: "font-1", sans-serif;
$color-1: #61dafb;
$color-2: salmon;
$color-3: #282c34;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: rgb(42, 42, 51);
  font-family: $font-1;
  // @include verticalCenter;
}
li {
  list-style-type: none;
}
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: rgb(42, 42, 51);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #9c9c9c;
}
