.content-popular {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 90px;
  padding-bottom: 0;
  display: flex;

  .famous-films {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  .card-pre {
    flex: 1 0 1%;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .card-films {
    width: 230px;

    height: 300px;
    margin: 5px;
    color: rgb(253, 253, 253);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    position: relative;

    .profile-films img {
      margin: 0;
      width: 100%;
      height: 350px;
      object-fit: cover;
    }

    .profile-films-meta {
      justify-content: center;
      font-size: 10px;
      overflow: hidden;

      .name {
        font-size: 10px;
        font-weight: 600;
        white-space: nowrap;
      }
    }

    #canvas {
      border: 2px solid black;
      color: azure;
      border-radius: 150px;
      font-size: 20px;
      position: absolute;
      bottom: -60px;
      right: -15px;
      z-index: 1;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.form {
  margin-top: 30px;
  margin-right: 20px;
  width: 550px;

  .form-button {
    background: #546fe4;
    border-radius: 10px;
    padding: 10px;
    height: 115px;
    align-items: center;

    p {
      display: flex;
      color: white;
      padding: 5px;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;

      &:hover {
        color: grey;
      }
    }

    .p-active {
      color: red;
    }
  }

  .switch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 5px;
      border-radius: 100px;
      width: 50px;
      margin: 5px;
      color: white;
      background: #546fe4;
      transition: 0.3s;

      &:hover {
        transform: translate(1.1);
        color: rgb(138, 138, 138);
      }
    }

    #counter {
      color: white;
      margin: 0px 4px;
    }
    #previous {
      transform: rotate(-180deg);
    }
  }
}
