.Preview-Content {
  align-items: center;
  display: flex;
  margin-top: 25px;
  color: rgb(241, 241, 241);
  a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }

  a:visited {
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: none;
  }

  .img-preview-content {
    width: 70px;
    min-width: 70px;
    height: 70px;
    margin-right: 20px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  .text-preview-content {
    h2 {
      font-size: 20px;
      color: rgb(241, 241, 241);
    }
  }
}

// Card after search
.search-wrap {
  margin-top: 70px;
  color: rgb(241, 241, 241);
}

.search {
  display: flex;
  width: 73%;
  position: absolute;
  left: 50%;
  margin-top: 20px;
  transform: translateX(-50%);

  .Details {
    margin: 15px;
    overflow: hidden;
    width: 100%;

    .title {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
      }
    }
  }

  .Profile {
    img {
      width: 300px;
      border-radius: 20px;
    }
  }
}

img {
  width: 60px;
}

.lower-content-Carousel {
  padding-top: 30px;
  .carousel {
    overflow: hidden;
    margin: 0px;
    width: 100%;

    .search-carousel {
      display: flex;
      width: 100%;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;

      .card {
        margin: 10px;
        height: 220px;

        .card-popular {
          color: white;

          .profile-popular {
            width: calc(90px * 1.5);
            height: calc(130px * 1.5);

            img {
              height: 100%;
              width: 100%;
              border-radius: 10px;
            }
          }

          .profile-meta {
            justify-content: center;
            font-size: 10px;
            position: relative;
            overflow: hidden;
            height: 30px;

            h3 {
              font-size: 10px;
            }
          }
        }
      }
    }
    .slide {
      width: 100%;
      scroll-snap-align: start;
    }
  }
}
#Interprétation {
  margin-top: 20px;
  padding: 10px;
}
.table {
  background: rgb(112, 112, 112);
  margin-top: 10px;
  border-radius: 10px;
  font-size: 18px;

  .fristLine {
    padding-top: 10px;
  }

  .separator {
    span {
      border: 2px solid rgb(255, 255, 255);
      display: flex;

      width: 10px;
      height: 10px;
      border-radius: 150px;
    }
  }

  .year {
    padding: 0px 20px;
  }

  .original-title {
    padding: 0px 20px;
    display: flex;

    a:hover {
      color: red;
    }
  }

  #in {
    color: rgb(187, 187, 187);
  }

  #incarne-name {
    display: flex;
    padding-left: 5px;
  }

  #original-title-tile {
    padding-right: 5px;
    color: black;
    font-weight: bold;

    &:hover {
      color: rgb(0, 12, 80);
    }
  }
}

.btn-add-moviered {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 0px 10px;
  cursor: pointer;
  transition: 0.2s;
  color: red;
}

.btn-add-movie {
  font-size: 30px;
  cursor: pointer;
  transition: 0.2s;
  z-index: 100;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.2);
  }
}

.Cards {
  margin-top: 70px;
}

.media {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-top: 20px;
  padding-left: 0px;

  p {
    padding-right: 5px;
    color: white;

    &:hover {
      color: black;
    }
  }
}
