.background-effet {
  background-image: linear-gradient(
    to right,
    rgba(31.5, 10.5, 10.5, 1) calc((50vw - 170px) - 340px),
    rgba(31.5, 10.5, 10.5, 0.84) 30%,
    rgba(31.5, 10.5, 10.5, 0.84) 100%
  );
  width: 100%;
  position: relative;
  z-index: 1;

  .search-tv {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(241, 241, 241);

    .search-tv-container {
      display: flex;
      width: 80%;
      flex-wrap: nowrap;

      .Profile-tv {
        border-width: 0px;
        min-width: 300px;
        width: 300px;
        height: 480px;
        overflow: hidden;

        .poster {
          display: block;
          min-width: 300px;
          width: 300px;
          height: 450px;
          position: relative;
          top: 0;
          left: 0;
        }
        img {
          display: block;
          border-radius: 15px;
          width: 100%;
          min-width: 100%;
          height: 100%;
          min-height: 100%;
          border-width: 0px;
          outline: none;
        }
      }
    }

    .details-tv {
      overflow: hidden;
      margin: 0px 40px;

      .title {
        display: flex;
        align-items: center;

        #name {
          font-size: 40px;
          padding-right: 10px;
          letter-spacing: 2px;
        }
        #release {
          font-size: 30px;
          opacity: 0.8;
          font-weight: 400;
        }

        .btn-add-moviered {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          padding: 0px 10px;
          cursor: pointer;
          transition: 0.2s;
          color: red;
        }

        .btn-add-movie {
          font-size: 30px;
          cursor: pointer;
          transition: 0.2s;
          padding: 0px 10px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      #rate {
        width: 90px;
        display: flex;
        align-items: center;
      }

      #trailer {
        display: flex;
        align-items: center;

        a {
          color: white;

          &:hover {
            color: rgb(172, 172, 172);
          }
        }
      }

      .info {
        ul {
          display: flex;
          li {
            background-color: gray;
            border-radius: 70px;
            padding: 5px;
            margin: 4px;
          }
        }

        p {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .second-container {
        display: flex;
        color: rgb(241, 241, 241);

        #canvas-movie {
          border: 4px solid black;
          color: azure;
          border-radius: 150px;
          width: 70px;
          font-size: 35px;
          height: 70px;
          display: flex;
          margin: 20px 0px;
          justify-content: center;
          align-items: center;
        }
      }
    }

    #Synopsis {
      font-size: 20px;
      margin: 15px 0px;
      display: block;
    }
  }
}

//////*****************************************************************************************

.media-tv {
  .Menu {
    display: flex;

    h4 {
      padding-left: 40px;
    }
  }
}

.card-recommendations {
  margin: 0px 5px;

  .profile-popular-recommendations {
    width: 240px;
    height: 120px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .profile-meta {
    justify-content: center;
    font-size: 10px;
    position: relative;
    overflow: hidden;
    height: 30px;

    h3 {
      font-size: 10px;
    }
  }
}

//

.profile-meta {
  justify-content: center;
  font-size: 10px;
  position: relative;

  p {
    color: white;
  }
}
.mainflex {
  width: 100%;

  .preflex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .flex-details {
    display: flex;
    align-items: flex-start;
    color: rgb(241, 241, 241);

    .details {
      margin-right: 30px;
      max-width: 1000px;

      .carousel-tv {
        overflow: hidden;
        margin-top: 10px;

        #role {
          padding: 10px 0px;
          letter-spacing: 1px;
        }

        .search-carousel-tv {
          display: flex;
          scroll-snap-type: x mandatory;
          -webkit-overflow-scrolling: touch;
          overflow-x: scroll;

          .card-tv {
            margin: 10px;

            .card-popular-tv {
              color: white;
              background-color: rgb(37, 37, 37);

              .profile-popular-tv {
                width: calc(90px * 1.5);
                height: calc(130px * 1.5);

                img {
                  height: 100%;
                  width: 100%;
                }
              }

              .profile-meta-tv {
                font-size: 10px;
                position: relative;
                overflow: hidden;
                height: 30px;

                h3 {
                  display: flex;
                  justify-content: center;
                  font-size: 12px;
                }
                p {
                  display: flex;
                  justify-content: center;
                }
              }
            }
          }
          #more {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            &:hover {
              color: bisque;
            }
          }
        }
        .slide {
          width: 100%;
          scroll-snap-align: start;
        }
      }

      .review-part {
        padding-top: 10px;
        #no-comment {
          padding: 50px 0px;
        }

        #reviewIcon {
          padding-left: 10px;
        }
      }
    }

    .details-second {
      min-width: 260px;
      width: 260px;

      ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        li {
          background-color: gray;
          border-radius: 5px;
          padding: 5px;
          margin: 2px;
        }
      }
    }
  }
}
